@import 'variables';
@import "/src/styles/css/reset.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    background-color: $white;
    min-width: 320px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover{
}

input {
    background-color: transparent;
    border: none;
    &::placeholder{
    }
}

li {
    list-style-type: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    padding: 0 15px;
}

@import 'header';
@import 'hero';
@import 'instruction';
@import 'survey';
@import 'footer';
@import 'media'